<form name="userForm" class="form-personnel">
    <div name="create-txt" class="create-txt"> Gebruiker {{ editMode ? "wijzigen" : "toevoegen" }}</div>
    <input type="hidden" name="id" [(ngModel)]="user.id">

    <div>
        <label for="firstname" class="input-label">Voornaam</label>
        <input type="text" class="input" placeholder="* Voornaam..." name="firstname" maxlength="13"
            [(ngModel)]="user.firstname" ngbTooltip="Vul alle velden met een * in" required><br>
    </div>

    <div>
        <label for="infix" class="input-label">Tussenvoegsel</label>
        <input type="text" name="infix" placeholder="Tussenvoegsel..." class="input" maxlength="13"
            [(ngModel)]="user.infix">
    </div>


    <div>
        <label for="lastname" class="input-label">Achternaam</label>
        <input type="text" name="lastname" placeholder="* Achternaam..." class="input" maxlength="13"
            [(ngModel)]="user.lastname">
    </div>

    <label for="city" class="input-label">Stad/Dorp en Postcode</label>
    <div class="postalcode-city">
        <div class="postalcode">
            <input type="text" name="postalcode" placeholder="* 8219HF..." class="input" maxlength="6"
                [(ngModel)]="user.postalcode">
        </div>

        <div class="city">
            <input type="text" name="city" placeholder="* Stad/Dorp..." class="input" maxlength="13"
                [(ngModel)]="user.city">
        </div>
    </div>

    <div class="address">
        <div class="street">
            <label for="street" class="input-label">Straatnaam</label>
            <input type="text" name="street" placeholder="* Johannesweg..." class="input" maxlength="19"
                [(ngModel)]="user.street">
        </div>

        <div class="number">
            <label for="streetnumber" class="input-label">Nr.</label>
            <input type="number" name="streetnumber" placeholder="* 23..." class="input" maxlength="5"
                [(ngModel)]="user.streetnumber">
        </div>

        <div class="additive">
            <label for="additive" class="input-label">Toev.</label>
            <input type="text" name="additive" placeholder="B..." class="input" maxlength="2"
                [(ngModel)]="user.additive">
        </div>
    </div>

    <div class="buttons">
        <button (click)="onSubmit()" type="button" name="submitButton"
            class="btn Submit-button">{{ buttonText }}</button>

    </div>
</form>

<div class="tool-tip">
    <p>
        Vul alle velden met * in !
    </p>
</div>