.arrow-back {
  cursor: pointer;
  position: absolute;
  justify-content: center;
  background: #000;
  color: white;
  padding: 0.75%;
  margin-left: 5%;
  font-size: 2.5rem;
  border-radius: 15px;
  margin-top: 37%;
  margin-left: 15%;
}
.arrow-back:hover {
  background: #3d3d3d;
  padding: 0.73%
}
  /*Form and form inputs */
  .form-personnel {
    margin-top: 3%;
    margin-left: 35%;
  }

  .input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .inputHalf {
    width: 25%;
  }

  .inputQuarter {
    width: 12.5%;
  }

  .input-label-street {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 17.5%;
  }

  .input-label-streetnumber {
    position: absolute;
  }

  .input-label-additive {
    margin-left: 18%;
  }

  /*Submit button*/
  .Submit-button {
    background-color: #383838;
    color: white;
    position: absolute;
    font-size: 22px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 20%;
    float: left;
  }

  .Submit-button:hover {
    background-color: #000000;
  }