<div *ngIf="users.length > 0; else noUsersMessage" class="user-list">
  <div *ngFor="let user of users" class="userData-block card p-3">
    <div class="user-block-text">
      <p>Naam: {{ user.firstname }} {{ user.infix }} {{ user.lastname }}</p>
      <p>ID: {{ user.id }}</p>
    </div>
    <div class="user-block-button">
      <button class="btn btn-primary button-info" (click)="moreDetailsUserButton()">
        <i class="bi bi-info-lg"></i>
      </button>
      <button class="btn btn-warning button-edit" (click)="editUserButton()">
        <i class="bi bi-pen"></i>
      </button>
      <button class="btn btn-danger button-trash" (click)="deleteUserButton(user.id)">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</div>
<ng-template #noUsersMessage>
  <h1 class="p-5 no-users-txt">Geen gebruikers gevonden</h1>
</ng-template>