<!-- router -->
<a class="navbar-brand arrow-back" routerLink="/" ariaCurrentWhenActive="page"> <i class="bi bi-arrow-90deg-left"></i>
</a>

<div class="user-detail-body">
    <div *ngIf="user">
        <div class="card text-center">
            <div class="card-header">
                Details van {{ user.firstname }} {{ user.lastname }}.
            </div>
            <div class="user-information card-body">

                <h4 class="user-information-text card-title"><strong>User ID:</strong>
                    {{ user.id }}</h4>

                <h5 class="user-information-text card-text"><strong>Naam:</strong>
                    {{ user.fullName }}</h5>

                <h5 class="user-information-text card-text"><strong>Woonplaats:</strong>
                    {{ user.address }}</h5>

                <h5 class="user-information-text card-text"><strong>Straat + Huisnummer:</strong>
                    {{ user.residentialDetails }}</h5>

            </div>
        </div>
    </div>